<!--div {-->
<!--    background: url(img_flwr.gif);-->
<!--    background-size: 80px 60px;-->
<!--    background-repeat: no-repeat;-->
<!--}-->
<style> 
body{
    background-position: 0px 0px;
    background-size: 1550px 720px;
}
</style>

<body background="http://assets.bluefingroup.co.uk/media/filer_public_thumbnails/filer_public/30/dc/30dcb5b3-815d-4e4c-af3e-d2823050911c/sports_montage_-_chosen_concept_v9_carouselv3_rgb.jpg__1600x580_q85_crop_upscale.jpg">

<iframe width="665" height="700" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%=@activity_index%>%20<%=@zip%>&key=AIzaSyCxxn_q94MXuztFcruWRX362j0v7iTGT3g" allowfullscreen></iframe>
</body>



<!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Basketball%2010128&key=AIzaSyCxxn_q94MXuztFcruWRX362j0v7iTGT3g" allowfullscreen></iframe>-->


