<html>
<!--<img src = "http://goodstuffpod.com/wp-content/uploads/2017/01/mba_in_sports_management_tab1.jpg">-->

<style>

  body{
    background-image: url("http://az616578.vo.msecnd.net/files/2016/07/21/636047332914342794-620055947_Colorful-New-York-City-1920x1200.jpg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 1300px 750px;
    color: white;
  }
  
  

</style>
<body> 
  <div> 
  <form method = "POST" action = "/">
  <p>Areas</p>
  <input type="radio" name="area" value="Upper East Side"> Upper East Side<br>
  <input type="radio" name="area" value="Upper West Side"> Upper West Side<br>
  <input type="radio" name="area" value="Midtown"> Midtown<br>
  <input type="radio" name="area" value="Astoria"> Astoria<br>
  <input type="radio" name="area" value="Lower East Side"> Lower East Side<br>
  <input type="radio" name="area" value="Lower Manhatten"> Lower Manhatten<br>
  <input type="radio" name="area" value="Inwood and Washington Heights"> Inwood and Washington Heights<br>
  <input type="radio" name="area" value="Greenwich Village and Soho"> Greenwich Village and Soho<br>
  <input type="radio" name="area" value="Harlem"> Harlem<br><br>
  
  <p>Activities</p>
  <input type="radio" name="activities" value="Basketball"> Basketball Courts<br>
  <input type="radio" name="activities" value="Baseball"> Baseball Fields<br>
  <input type="radio" name="activities" value="Soccer"> Soccer Fields<br>
  <input type="radio" name="activities" value="Tennis"> Tennis Courts<br>
  <input type="radio" name="activities" value="Gym"> Gyms<br>
  <input type="radio" name="activities" value="Ice Rink"> Ice Rinks<br>
  <input type="radio" name="activities" value="Park"> Parks<br>
  <input type="radio" name="activities" value="Hockey"> Hockey<br>
  <input type="radio" name="activities" value="Movie Theatre"> Movie Theatres<br>
  
  
  
  <button type= "Submit">Submit</button>
</form></div>


<p><b>Note:</b> Select one area and one activity</p>

</body>
</html>
